{{#def.include('./template/head_new')}}

<div class="play-game-wrapper">
    <div class="play-game-nav">
        <div class="title">
            <a href="/">
                <h1>ltcnyan</h1>
            </span>
        </div>
        <div class="nav-right">
            <span href="" class="nav-right-param">Luck : 10</span>
            <span href="" class="nav-right-param">XP : 20</span>
            <span href="" class="nav-right-param">Link</span>
            <span href="" class="nav-right-param">Rakesh Chandra Dash</span>
        </div>
    </div>

    <div class="time">
         <span class="time-remaining">24 : 10 : 20</span><br>
         <span>remaining</span>
    </div>
    <div class="game-container">
        
        <div class="game-card">
            <div class="game-text">
                <span>
                    Win upto $100
                </span>
            </div>
            <button>
                $ 1
            </button>
        </div>
        <div class="game-card">
            <div class="game-text">
                <span>
                         Win upto $1000
                </span>
            </div>
            <button>
                   $ 100
            </button>
        </div>
        <div class="game-card">
            <div class="game-text">
                <span>
                         Win upto $10000
                </span>
            </div>
            <button>
                $100
            </button>
        </div>
    </div>
</div>
